category.vtl

<h3>Here are all the tasks in this category:</h3>

#foreach($task in $category.getTasks())
 <h3>$task.getDescription()</a></h3>
#end

<a href="/categories/$category.getId()/tasks/new">Add a new task</a>
<a href="/">Return to Main Page</a>
